<!DOCTYPE html>
<html
        lang="ko"
        xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
        layout:decorator="@{/layout}"
>

<main layout:fragment="content">
    <table class="order_list">
        <thead>
        <tr class="title_tr">
            <th>SEQ</th>
            <th>고객 ID</th>
            <th>거래일시</th>
            <th>상품명</th>
            <th>단가</th>
            <th>수량</th>
            <th>합계</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>seq</td>
            <td>userid</td>
            <td>date</td>
            <td>pname</td>
            <td>price</td>
            <td>qty</td>
            <td>total</td>
        </tr>
        </tbody>
    </table>
</main>
</html>
