@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #1c222e;
    font-family: "Space Mono", monospace;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

header h1 {
    color: #4dc3fa;
    padding: 0 1rem 1rem;
}

header p {
    color: #fff842;
    font-weight: bold;
}

section.content {
    flex: 1;
    overflow: auto;
}



footer {
    color: #fff842;
    font-weight: bold;
    text-align: center;
    padding: 0.7rem;
}